.social-icons
  %a{href: 'https://twitter.com/megantiu'}
    .icon-container#twitter
  %a{href: 'https://github.com/megantiu'}
    .icon-container#github
  %a{href: 'https://linkedin.com/in/megantiu'}
    .icon-container#linkedin
  %a{href: 'mailto:megan@megantiu.com'}
    .icon-container#email
