.social-icons
  %a{href: 'https://twitter.com/maximumtiu'}
    .icon-container#twitter
  %a{href: 'https://github.com/maximumtiu'}
    .icon-container#github
  %a{href: 'https://linkedin.com/in/maximumtiu'}
    .icon-container#linkedin
  %a{href: 'mailto:max@maximumtiu.com'}
    .icon-container#email
