= link_to image_tag('my_tw2.png'), 'http://twitter.com/megantiu'
= link_to image_tag('32px.png'), 'http://github.com/megantiu'
= link_to image_tag('my_li2.png'), 'http://linkedin.com/in/megantiu'
= link_to image_tag('email.png'), 'mailto:megan@megantiu.com'
