- content_for :meta do
  %title About - Megan Tiu
  %meta{description: "Megan Tiu is a full-stack web developer based in Atlanta, Georgia."}

= render partial: "header.html.haml"
.content.about
  %p
    I'm a full-stack web developer specializing in Rails and am currently working and building cool things at
    %a{href: 'http://callrail.com'} CallRail.
    Before that I worked for
    %a{:href => "http://www.fittery.com"} Fittery,
    where I wore many hats on a small, fast-paced development team. I love writing clean code, optimizing efficiency, working with big data, and architecting APIs. I'm also passionate about diversity in tech and building a positive, accessible community for all. I genuinely love the work I do and am excited to grow my computing knowledge in as many ways as possible.
  %p
    I graduated magna cum laude from Georgia State University with a BA in Film and Television and I also completed the Tech Talent South Code Immersion Program. When I'm not glued to my computer, I love tabletop and video gaming, tearing through Atlanta's streets by bike, and playing with
    = succeed "." do
      %a{:href => "https://www.instagram.com/p/1jWocBx4nk/"} my pit bull
