= render partial: "header.html.haml"
.content.about
  %p
    I'm a full-stack web developer specializing in Rails and am currently working for
    = succeed "," do
      %a{:href => "http://www.fittery.com"} Fittery
  %p
    I graduated magna cum laude from Georgia State University with a BA in Film and Television and I also completed the Tech Talent South Code Immersion Program. When I'm not glued to my computer, I love tabletop and video gaming, tearing through Atlanta's streets by bike, and playing with
    = succeed "." do
      %a{:href => "https://www.instagram.com/p/1jWocBx4nk/"} my pit bull
