= render partial: "header.html.haml"
.content.contact
  %p
    I'm a full-stack web developer in Atlanta, GA currently working for
    = succeed "." do
      %a{:href => "http://www.fittery.com"} Fittery
  %p
    You can send me an email
    %a{:href => "mailto:megan@megantiu.com"} here.
    Or you could tweet at me
    %a{:href => "http://twitter.com/megandtiu"} here.
