- content_for :meta do
  %title Contact - Megan Tiu
  %meta{description: "Megan Tiu is a full-stack web developer based in Atlanta, Georgia. You can contact her here."}

= render partial: "header.html.haml"
.content.contact
  %p
    I'm a full-stack web developer in Atlanta, GA currently looking for new opportunities.
  %p
    You can send me an email
    %a{:href => "mailto:megan@megantiu.com"} here.
    Or you could tweet at me
    %a{:href => "http://twitter.com/megandtiu"} here.
