<%=  render partial: "header.html.erb" %>

<div class="content contact">
  <p>I'm a full-stack web developer in Atlanta, GA currently working for <a href="http://www.fittery.com">Fittery</a>.</p>
  <p>You can send me an email 
  	<a href="mailto:megan@megantiu.com">here.</a> Or you could tweet at me 
  	<a href="http://twitter.com/megandtiu">here.</a>
  </p>
</div>