<div class="window" id="nyc_jumbo">
	<div id="contact_box">
		<div id="contact-content">
			<h2 class="pg_title">Contact Me</h2>
			<p>
				<%= link_to image_tag("email.png") + " megan@megantiu.com", "mailto:megan@megantiu.com" %>
			</p>
			<p>
				<%= link_to image_tag('my_tw2.png') + " @megandtiu", "http://twitter.com/megandtiu" %>
			</p>
			<br />
		</div>
	</div>
</div>