- content_for :meta do
  %title Contact - Megan Tiu
  %meta{name: 'description', content: 'Megan Tiu is a full-stack web developer based in Atlanta, Georgia. You can contact her here.'}

= render partial: "header.html.haml"
.content.contact
  %p
    I'm a full-stack web developer in Atlanta, GA currently working for
    %a{href: 'http://callrail.com'} CallRail.
  %p
    You can send me an email
    %a{:href => "mailto:megan@megantiu.com"} here.
    Or you could tweet at me
    %a{:href => "http://twitter.com/megantiu"} here.
