- content_for :meta do
  %title Now - Megan Tiu
  %meta{name: 'description', content: "Megan Tiu is a full-stack web developer based in Atlanta, Georgia. This is what she's up to now."}

= render partial: "header.html.haml"
.content.now
  %p#now Here's what I'm up to now:
  %ul
    %li
      I'm now working for
      %a{href: 'http://callrail.com'} CallRail
      and building interesting server-side tools that wonderfully appeal to my optimization and testing fixations.
    %li
      I'll be giving a
      %a{href: 'http://rubyconf.org/program#prop_4'} talk a RubyConf this year!
      Entitled "Bootcamp Grads Have Feelings, Too," it's a full-length version of my lightning talk from
      %a{href: 'https://www.andconf.io/'} AndConf
      on creating an inclusive community for people of all skill levels.
    %li
      I'm on the board of directors for
      %a{:href => "http://railsgirlsatl.github.io"} Rails Girls Atlanta,
      where I serve as Communications Coordinator and get the joy of talking with and writing for inspiring, exciting women that love code.
    %li
      I'm in a wonderful book club for growing developers where we just finished Hunt and Thomas'
      %a{href: 'https://pragprog.com/book/tpp/the-pragmatic-programmer'} The Pragmatic Programmer
      and are about to begin Sandi Metz's Practical Object Oriented Design in Ruby.
    %li
      I get to snuggle and play with
      %a{:href => "https://www.instagram.com/p/1jWocBx4nk/"} this amazing beast
      every day.
