- content_for :meta do
  %title Talks - Megan Tiu
  %meta{name: 'description', content: "Megan Tiu is a full-stack web developer and engineering leader based in Atlanta, Georgia. Here are the talks she's given."}

= render 'shared/header'

.content.talks
  %h3.list-header Upcoming
  %ul
    %li
      I've been on a temporary hiatus from speaking.
      %a{href: '/contact'} Get in touch
      to discuss potential future opportunities.
  %br
  %h3.list-header Past
  %ul
    %li
      August 2018, self.Conference,
      %strong "The Practical Guide to Building an Apprenticeship"
    %li
      June 2018, We Rise,
      %strong "The Practical Guide to Building an Apprenticeship"
      %ul
        %li
          %a{href: 'https://www.recallact.com/presentation/practical-guide-building-apprenticeship'} video
          \/
          %a{href: 'https://speakerdeck.com/megantiu/the-practical-guide-to-building-an-apprenticeship-we-rise'} slides
    %li
      June 2018, GORUCO,
      %strong "The Practical Guide to Building an Apprenticeship"
      %ul
        %li
          %a{href: 'https://www.youtube.com/watch?v=31-DPycAKyY'} video
          \/
          %a{href: 'https://speakerdeck.com/megantiu/the-practical-guide-to-building-an-apprenticeship-goruco'} slides
    %li
      May 2018, Madison+ Ruby: Chicago,
      %strong "The Practical Guide to Building an Apprenticeship"
      %ul
        %li
          %a{href: 'https://speakerdeck.com/megantiu/the-practical-guide-to-building-an-apprenticeship-madison-plus-ruby'} slides
          \/
          %a{href: 'https://wakelet.com/wake/ec966b45-f5d9-4366-be0c-0929dc49babd'} reception
    %li
      April 2018, RailsConf,
      %strong "The Practical Guide to Building an Apprenticeship"
      %ul
        %li
          %a{href: 'https://www.youtube.com/watch?v=5sVg7DtZ0zk'} video
          \/
          %a{href: 'https://speakerdeck.com/megantiu/the-practical-guide-to-building-an-apprenticeship-railsconf'} slides
    %li
      March 2018, RubyConfPH,
      %strong "The Practical Guide to Building an Apprenticeship"
      %ul
        %li
          %a{href: 'https://www.youtube.com/watch?v=N79J20KiWHY'} video
          \/
          %a{href: 'https://speakerdeck.com/megantiu/the-practical-guide-to-building-an-apprenticeship'} slides
    %li
      November 2017, RubyConf,
      %strong "Finding Beauty in the Mundane"
      %ul
        %li
          %a{href: 'https://www.youtube.com/watch?v=ZRgiVRqPVL4'} video
          \/
          %a{href: 'https://speakerdeck.com/megantiu/finding-beauty-in-the-mundane-rubyconf'} slides
          \/
          %a{href: 'https://theplainprogrammer.com/rubyconf-2017-retrospective-day-1-ef986b402f3a'} write-up
  %ul
    %li
      September 2017, WindyCityRails,
      %strong "Finding Beauty in the Mundane"
      %ul
        %li
          %a{href: 'https://www.youtube.com/watch?v=SheQp9Gw9Dc'} video
          \/
          %a{href: 'https://speakerdeck.com/megantiu/finding-beauty-in-the-mundane-wcr'} slides
    %li
      June 2017, We Rise,
      %strong "Finding Beauty in the Mundane"
      %ul
        %li
          %a{href: 'https://speakerdeck.com/megantiu/finding-beauty-in-the-mundane'} slides
    %li
      November 2016, RubyConf,
      %strong "Bootcamp Grads Have Feelings, Too"
      %ul
        %li
          %a{href: 'https://www.youtube.com/watch?v=133HhIjmfRE'} video
          \/
          %a{href: 'https://speakerdeck.com/megantiu/bootcamp-grads-have-feelings-too'} slides
    %li
      August 2016, AndConf,
      %strong "Bootcamp Grads Have Feelings, Too",
      short-form
    %li
      August 2016, Tech Talent South,
      %strong "Developer Interviews 101"
    %li
      July 2016, Atlanta Ruby Users Group,
      %strong "Upgrading Rails (Isn't So Bad)"
      %ul
        %li
          %a{href: 'https://speakerdeck.com/megantiu/atlrug-upgrading-rails-isnt-so-bad'} slides
    %li
      July 2016, Ladies of Tech Talent South,
      %strong "Intro to Hackathons"
    %li
      June 2016, Rails Girls Atlanta,
      %strong "Upgrading Rails (Isn't So Bad)",
      short-form
      %ul
        %li
          %a{href: 'https://speakerdeck.com/megantiu/upgrading-rails-isnt-so-bad'} slides
