- content_for :meta do
  %title Talks - Megan Tiu
  %meta{name: 'description', content: "Megan Tiu is a full-stack web developer based in Atlanta, Georgia. Here are the talks she's given."}

= render partial: "header.html.haml"

.content.talks
  %h3.list-header Upcoming
  %ul
    %li
      September 2017, WindyCityRails,
      %strong "Finding Beauty in the Mundane"
  %br
  %h3.list-header Past
  %ul
    %li
      June 2017, We Rise,
      %strong "Finding Beauty in the Mundane"
      %ul
        %li
          %a{href: 'https://speakerdeck.com/megantiu/finding-beauty-in-the-mundane'} slides
    %li
      November 2016, RubyConf,
      %strong "Bootcamp Grads Have Feelings, Too"
      %ul
        %li
          %a{href: 'https://www.youtube.com/watch?v=133HhIjmfRE'} video
          \/
          %a{href: 'https://speakerdeck.com/megantiu/bootcamp-grads-have-feelings-too'} slides
    %li
      August 2016, AndConf,
      %strong "Bootcamp Grads Have Feelings, Too",
      short-form
    %li
      August 2016, Tech Talent South,
      %strong "Developer Interviews 101"
    %li
      July 2016, Atlanta Ruby Users Group,
      %strong "Upgrading Rails (Isn't So Bad)"
      %ul
        %li
          %a{href: 'https://speakerdeck.com/megantiu/atlrug-upgrading-rails-isnt-so-bad'} slides
    %li
      July 2016, Ladies of Tech Talent South,
      %strong "Intro to Hackathons"
    %li
      June 2016, Rails Girls Atlanta,
      %strong "Upgrading Rails (Isn't So Bad)",
      short-form
      %ul
        %li
          %a{href: 'https://speakerdeck.com/megantiu/upgrading-rails-isnt-so-bad'} slides
