<div class="window">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 blogstream">
        <h2 class="pg_title" id="">5 Most Meaningful Lessons I Learned from Coding Bootcamp</h2>
        <div id="post">
          <p id="date_stamp">September 20, 2015</p>
          <a href="http://techtalentsouth.com/student-blog/5-most-meaningful-lessons-i-learned-from-coding-bootcamp/">
            <div class="small-note">Cross-posted to the official Tech Talent South student blog.</div>
          </a>
          <p class="body">As the summer draws to a close, I am now finishing up Tech Talent South’s summer full-time Code Immersion program. It’s been an absolutely amazing 8 weeks and I don’t think I could have previously fathomed how much I’ve grown and learned in such a short amount of time. If you’re thinking of starting a coding bootcamp soon, perhaps here at Tech Talent South, I absolutely recommend it, especially if you’re eager to learn new things and want to break into the tech industry. At the risk of sounding like a Buzzfeed-esque listicle, here are some tips from me to you to make your journey as smooth as possible.</p>
          <p class="body"><a href="/blog/1">Read more...</a></p>
        </div>
      </div>
    </div>
  </div>
</div>