= render partial: "static/header.html.erb"
.window.blog
  .row
    .col-xs-12.col-sm-12.col-md-12.blogstream
      %h2.title Getting Your First Dev Job is Not a Magic Trick
      .post
        %p.date-stamp February 23, 2015
        %p.body As someone that meets a lot of new developers and job seekers, I often get asked, with curiosity and wonder, how I got my first development job. When you're first starting out, the hurdle of one's first apprenticeship or job seems to be a nearly impossible one to overcome. But here's the sercret:
        %p.body
          There is no secret to learning to code.
          %strong Getting your first dev job is not a magic trick.
