- @title = 'Building an XD60 Mechanical Keyboard'
- content_for :meta do
  %title #{@title + " - Megan Tiu "}
%meta{ property: 'og:image', content: 'path/to/image' }

= render partial: "static/header.html.haml"
.window.blog
  .row
    .col-xs-12.col-sm-12.col-md-12.blogstream
      %h1.title#your-own-personal-gitignore Building an XD60 Mechanical Keyboard
      .post
        %p.date-stamp September 10, 2017
        %p.body
          This year, I've really developed a love for mechanical keyboard. The way they feel when typing on them, the extremely customizable nature...they're really swell. It's past time for me to build my own, and I wanted a "budget" project for my first build. Unlike most other things, building your own mech is far more expensive than buying a pre-fabricated board. Including keycaps (which were the most expensive part by far), I paid $214 for this project. You could easily buy cheaper keycaps and bring the cost of this board down considerably, but I personally really wanted to try out the DSA
          %a{href: 'http://i.imgur.com/kFxqOm8.jpg'} keycap profile.
        %h2#parts Parts
        %p.body
          The bulk of the parts for this keyboard came from Aliexpress (or at least, they can be bought on Aliexpress). This meant that I had to wait a bit longer for things to come over from China, but all in all, they arrived much quicker than the original estimation.
        %ul
          %li XD60/64 PCB
          %li XD60/64 Plate
          %li 60% aluminum case
          %li Gateron yellow switches
          %li Cherry screw-in stabilizers
          %li PMK Dye-sublimated DSA keycaps
          %li Custom USB cable
        %p.body
          I got the aluminum case from a limited Massdrop sale at a reduced price, but here's a similar case on Aliexpress.
