= render partial: "static/header.html.haml"
.window.blog
  .row
    .col-xs-12.col-sm-12.col-md-12.blogstream
      %h2.title On the Importance of Side Projects
      .post
        %p.date-stamp October 25, 2015
        %p.body
          Today, I got to spend time with a group of awesome, inspiring women in the Atlanta tech scene away from work, away from meetups, and away from any rigid structure. Bringing us together was the goal of completing burgeoning or neglected side projects, often sidetracked as work and life get in the way. As we sat quietly coding, sipping coffee, and munching on pastries, a light flickered on in my head:
          %strong I truly love what I do.
        %p.body
          I've just reached the six week mark in my first full-time development position with
          = succeed "." do
            %a{:href => "http://fittery.com"} Fittery
          = succeed "," do
            %a{:href => "http://mainmarket.co"} MainMarket
        %p.body As I sat this afternoon editing and adding to my existing apps from school, I couldn't help but become a bit giddy. Finally, for the first time in almost two months, my work wasn't constrained to any deadline or limited by business priorities. I was coding purely for fun and my own personal fulfillment. There's something truly refreshing about this kind of work; today, I got to dive further into AJAX, something about which I've been particulary eager to learn more. At work, I don't usually have time to stretch my legs and experiment with every facet of our product. Next month, I'll start an 8-week Javascript class, and I'm so excited to continue learning in a structured, continuous way that lets me explore another language and multiple new frameworks. After today, I understand that side projects truly are a gateway to learning any new technology that strikes my fancy. As a budding developer, I'm realizing just how crucial it is to step away from work to exercise my skills and stimulate parts of my mind that I might not get on a day-to-day basis. To learn is to grow, and I can't get enough.
