.body {
  text-align: left;
  padding-left: 150px;
  padding-right: 150px;
}

.small-note {
  font-size: 12px;
  padding: 10px;
}

@media screen and (max-width: 770px) {
  .body {
  padding-left: 0px;
  padding-right: 0px;
  }
}