.post {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding: 0 70px;
}

.title {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: #000;
}

.body {
  text-align: left;
  padding: 0 100px;
}

.date-stamp {
  font-weight: bold;
}

.small-note {
  font-size: 12px;
  padding: 10px;
}

@media screen and (max-width: 991px) {
  .post {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 770px) {
  .body {
    padding-left: 0px;
    padding-right: 0px;
  }
}
