.partial {
  text-align: center;
  margin-top: 30px;

  .name {
    font-size: 45px;
    margin-top: 15px;
  }

  .me-pic {
    height: 15%;
    width: 15%;
  }

  @media screen and (max-width: 768px) {
    .me-pic {
      height: 30%;
      width: 30%;
    }
  }
}
