- if request.path.include?('/blog/4')
  %title Getting and Setting Cookies in Javascript the Fun and Easy Way - Max Tiu
- else
  %title Max Tiu
%meta{name: 'description', content: 'Max Tiu is a full-stack web developer based in Atlanta, Georgia.'}
