- if request.path.include?('/blog/4')
  %title Getting and Setting Cookies in Javascript the Fun and Easy Way - Megan Tiu
- else
  %title Megan Tiu
%meta{name: 'description', content: 'Megan Tiu is a full-stack web developer based in Atlanta, Georgia.'}
